/*icon control in search box on catalog page*/
.search-catalog-icon{
    top: 10px !important;
    color: #c7c7c7;
}

.requests form > div > i{
    top: 0 !important;
    right: 5px !important;
    color: #c7c7c7;
}

/*teal nav bar control on catalog*/
.box:hover{
    background: #86bcc5;
}

.box div{
    font-size: 1.429rem; /*equal to 20px*/
    font-color: #fff;
}

.twitter-typeahead{
    width: 570px !important;
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 570px;
  margin-top: 0;
  padding: .4rem 0;
  background-color: #fff;
  border: .1rem solid #ccc;
  border: .1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
     -moz-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
          box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
}

.tt-suggestion {
  cursor: pointer;
  padding: 0.3rem 2rem;
  line-height: 2.4;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: rgb(66, 139, 202); /* $primary */
}

.tt-suggestion p {
  margin: 0;
}