/*icon control in search box on catalog page*/
.search-catalog-icon{
    top: 10px !important;
    color: #c7c7c7;
}

.requests form > div > i{
    top: 0 !important;
    right: 5px !important;
    color: #c7c7c7;
}

/*teal nav bar control on catalog*/
.box:hover{
    background: #86bcc5;
}

.box div{
    font-size: 1.429rem; /*equal to 20px*/
    font-color: #fff;
}

