/*!
 * Triangle v1-alpha
 * Copyright Kinetic Data, Inc.
 */
.background-tertiary {
  background-color: #242e38 !important; }

.background-quaternary {
  background-color: #d6ce61 !important; }

.background-white {
  background-color: #ffffff !important; }

.white {
  color: #ffffff !important; }

.gray {
  color: #858585 !important; }

/*scss file _reboot*/
html, body {
  height: 100%;
  font-size: 14px; }

body {
  background-color: #f5f5f5; }

h1 {
  margin: 0;
  font-size: 3rem;
  /*equal to 42px*/
  color: #242e38; }

h3 {
  margin: 0;
  font-size: 2rem;
  /*equal to 24px*/ }

h4 {
  margin: 0;
  font-size: 1.28571428571rem;
  /*equal to 18px*/ }

p {
  font-size: 1.14285714286em;
  /*equal to 16px*/
  margin: 0; }

h5 {
  font-size: .857142857rem;
  /*equal to 12px*/ }

i {
  color: #ffffff; }

a {
  color: #3babc0; }

ul {
  padding: 0; }

/*sass file _code*/
.code {
  font-family: monospace; }

.pre {
  white-space: pre-wrap; }

/*sass file _forms*/
/*form{
    margin-left: 0;
    padding: 26px 24px 46px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}*/
form button {
  background-color: #24B166;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-right: 1em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent; }

form label {
  color: #62787d;
  display: block;
  font-size: 1em;
  font-weight: 600; }

form .radio label:first-child,
form .checkbox label:first-child {
  padding-left: 0;
  font-weight: 600; }

form .checkbox label + input {
  padding-left: 20px; }

form input[type="text"],
form textarea {
  border: 2px solid #B3C1C4;
  outline: none; }

form input[type="text"]:focus,
form textarea:focus {
  border-color: #7FCEE0; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Override Form Styles
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.requests form > div > i {
  top: 0 !important;
  right: 5px !important;
  color: #c7c7c7; }

input.form-control {
  width: 20rem !important; }

select.form-control {
  width: 20rem !important; }

textarea.form-control {
  width: 40rem !important; }

input.x {
  width: 100% !important; }

/*sass file _buttons*/
.btn-primary {
  background-color: #5ea5b2; }
.btn-primary:hover {
  background-color: #81b8c3; }

/*sass file _lists*/
.right-details {
  padding-left: .9rem; }
.right-details > ul {
  list-style: none; }
.right-details > ul > li {
  margin-left: 2.25rem !important; }
.right-details > ul > li:before {
  color: #5ea5b2;
  content: '\f111';
  font-family: 'FontAwesome';
  position: absolute;
  left: -5rem;
  top: 4.25rem; }
.right-details > ul > li > h4:nth-child(2) {
  color: #818181; }
.right-details > ul > li > div > p {
  color: #818181;
  margin-top: 1.25rem; }

/*sass file _font*/
.font-size-50 {
  font-size: 3.57142857143rem;
  /*equal to 50px*/ }

.fa-circle {
  color: #242e38; }

.font, .font-thin, .font-light, h5, .font-medium, h1, h3, h4, .font-bold {
  font-family: 'Roboto', sans-serif; }
.font-thin {
  font-weight: 100; }
.font-light, h5 {
  font-weight: 300; }
.font-medium, h1, h3, h4 {
  font-weight: 500; }
.font-bold {
  font-weight: 700; }

/*sass file _footer*/
.footer, .footer__overlay {
  /* background: url("../images/background.png");*/
  height: 20rem;
  width: 100%;
  position: relative;
  border: none !important; }
.footer__overlay {
  background-color: rgba(5, 12, 19, 0.75);
  filter: alpha(opacity=75);
  /* For IE8 and earlier */
  position: absolute;
  bottom: 0px;
  height: 17.5rem;
  /*equal to 245px*/ }
.footer__content {
  padding-top: 2.5rem;
  /*equal to 35px*/ }
.footer__overlay > div > div > div:first-child > div:first-child {
  border-bottom: 0.35714285714rem solid #d6ce61; }
.footer__overlay > div > div > div:not(:first-child) > div:first-child {
  border-bottom: 0.35714285714rem solid #5ea5b2; }
.footer__overlay > div > div > div:not(:first-child) > div {
  margin-left: 2.14285714286rem;
  /*equal to 30px*/ }
.footer__overlay content header > div > div > div:not(:first-child) > div > h5 {
  margin-bottom: 0; }

/*sass file _header*/
.header, .header__overlay {
  /* background: url("../images/background.png");*/
  min-height: 7.5rem;
  position: relative; }
.header__overlay {
  background-color: rgba(5, 12, 19, 0.75);
  filter: alpha(opacity=75);
  /* For IE8 and earlier */
  border: none;
  border-radius: 0;
  position: relative;
  min-height: 5rem;
  /*equal to 70px*/
  margin-top: 2.5rem; }

/*sass file _icons*/
#list:active,
#list.active,
#grid:active,
#grid.active {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); }

.search-catalog-icon {
  top: 10px !important;
  color: #c7c7c7; }

.icon-black {
  color: #000000; }
.icon-white {
  color: #ffffff; }
.icon-gray {
  color: #858585; }
.icon-gray-lighter {
  color: #d4d4d4; }
.icon-primary {
  color: #5ea5b2; }
.icon-secondary {
  color: #ffa31c; }
.icon-tertiary {
  color: #b996a5; }
.icon__padding--top {
  padding-top: 1.28571428571rem; }

/*sass file _nav*/
.nav {
  background-color: #5ea5b2; }
.nav ul {
  /*  display: -moz-box;
      display: -webkit-box;
      display: box;*/
  padding: none;
  margin: none;
  text-align: left;
  list-style-type: none; }
.nav li {
  /*  -moz-box-flex: 1;
      -webkit-box-flex: 1;
      box-flex: 1;*/
  display: inline-block;
  padding-top: .71428571428rem;
  padding-bottom: .71428571428rem; }
.nav a {
  font-size: 1.125rem;
  color: #ffffff; }
.nav__box {
  padding-top: 1.42857142857rem;
  padding-bottom: 1.42857142857rem; }
.nav__box div {
  font-size: 1.429rem;
  /*equal to 20px*/
  color: #ffffff; }
.nav__box:hover {
  background-color: #81b8c3; }

/*sass file _navbar*/
.avatar > img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

.navAccount a {
  color: #d6ce61; }

#navbar-collapse > ul > li:nth-child(1) > a {
  padding: 0.71428571428rem 1rem 0.71428571428rem 1rem; }

/*sass file _panels*/
.max-min-height {
  max-height: 7rem;
  /*equal to 98px*/
  min-height: 7rem; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; }
.arrow_box {
  position: relative; }
.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 5rem;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
.arrow_box:after {
  border-color: rgba(204, 213, 187, 0);
  border-right-color: #fff;
  border-width: 14px;
  margin-top: -40px; }
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 20px;
  margin-top: -46px; }

.panel {
  border: none; }

.panel-body {
  box-shadow: 1px 4px 10px #d4d4d4; }

.panel-body > table > thead > tr > td:nth-child(2) {
  /*catalog could be replaced with more general catalog*/
  text-align: right; }

.panel-body > table > tbody > tr:nth-child(even) > td:nth-child(1) {
  /*catalog could be replaced with more general catalog*/
  border: none; }

.panel-body > table > tbody > tr > td:nth-child(2) {
  vertical-align: bottom; }

/*sass file _alert*/
.errors {
  display: none;
  margin: 0 auto;
  width: 90%; }

.errors
.build {
  font-size: 11px; }

.errors {
  background-color: #faf0ef;
  border: 1px solid #d5d5d5;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%; }
  .errors p {
    font-style: bold;
    font-size: larger;
    background-color: #cc0000;
    border-bottom: 1px solid #d5d5d5;
    padding-left: .5em;
    padding-right: .5em;
    color: white;
    padding: 3px; }
    .errors p.testing {
      color: green;
      background: red; }

/*sass file _utilities-spacing*/
.p-a-0 {
  padding: 0rem !important; }

.p-t-0 {
  padding-top: 0rem !important; }

.p-b-0 {
  padding-bottom: 0rem !important; }

.p-r-0 {
  padding-right: 0rem !important; }

.p-l-0 {
  padding-left: 0rem !important; }

.p-x-0 {
  padding-right: 0rem !important;
  padding-left: 0rem !important; }

.p-y-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important; }

.p-a-1 {
  padding: 0.71429rem !important; }

.p-t-1 {
  padding-top: 0.71429rem !important; }

.p-b-1 {
  padding-bottom: 0.71429rem !important; }

.p-r-1 {
  padding-right: 0.71429rem !important; }

.p-l-1 {
  padding-left: 0.71429rem !important; }

.p-x-1 {
  padding-right: 0.71429rem !important;
  padding-left: 0.71429rem !important; }

.p-y-1 {
  padding-top: 0.71429rem !important;
  padding-bottom: 0.71429rem !important; }

.p-a-2 {
  padding: 1.42857rem !important; }

.p-t-2 {
  padding-top: 1.42857rem !important; }

.p-b-2 {
  padding-bottom: 1.42857rem !important; }

.p-r-2 {
  padding-right: 1.42857rem !important; }

.p-l-2 {
  padding-left: 1.42857rem !important; }

.p-x-2 {
  padding-right: 1.42857rem !important;
  padding-left: 1.42857rem !important; }

.p-y-2 {
  padding-top: 1.42857rem !important;
  padding-bottom: 1.42857rem !important; }

.p-a-3 {
  padding: 2.14286rem !important; }

.p-t-3 {
  padding-top: 2.14286rem !important; }

.p-b-3 {
  padding-bottom: 2.14286rem !important; }

.p-r-3 {
  padding-right: 2.14286rem !important; }

.p-l-3 {
  padding-left: 2.14286rem !important; }

.p-x-3 {
  padding-right: 2.14286rem !important;
  padding-left: 2.14286rem !important; }

.p-y-3 {
  padding-top: 2.14286rem !important;
  padding-bottom: 2.14286rem !important; }

.p-a-4 {
  padding: 2.85714rem !important; }

.p-t-4 {
  padding-top: 2.85714rem !important; }

.p-b-4 {
  padding-bottom: 2.85714rem !important; }

.p-r-4 {
  padding-right: 2.85714rem !important; }

.p-l-4 {
  padding-left: 2.85714rem !important; }

.p-x-4 {
  padding-right: 2.85714rem !important;
  padding-left: 2.85714rem !important; }

.p-y-4 {
  padding-top: 2.85714rem !important;
  padding-bottom: 2.85714rem !important; }

.p-a-5 {
  padding: 3.57143rem !important; }

.p-t-5 {
  padding-top: 3.57143rem !important; }

.p-b-5 {
  padding-bottom: 3.57143rem !important; }

.p-r-5 {
  padding-right: 3.57143rem !important; }

.p-l-5 {
  padding-left: 3.57143rem !important; }

.p-x-5 {
  padding-right: 3.57143rem !important;
  padding-left: 3.57143rem !important; }

.p-y-5 {
  padding-top: 3.57143rem !important;
  padding-bottom: 3.57143rem !important; }

.m-a-0 {
  margin: 0rem !important; }

.m-t-0 {
  margin-top: 0rem !important; }

.m-b-0 {
  margin-bottom: 0rem !important; }

.m-r-0 {
  margin-right: 0rem !important; }

.m-l-0 {
  margin-left: 0rem !important; }

.m-x-0 {
  margin-right: 0rem !important;
  margin-left: 0rem !important; }

.m-y-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important; }

.m-a-1 {
  margin: 0.71429rem !important; }

.m-t-1 {
  margin-top: 0.71429rem !important; }

.m-b-1 {
  margin-bottom: 0.71429rem !important; }

.m-r-1 {
  margin-right: 0.71429rem !important; }

.m-l-1 {
  margin-left: 0.71429rem !important; }

.m-x-1 {
  margin-right: 0.71429rem !important;
  margin-left: 0.71429rem !important; }

.m-y-1 {
  margin-top: 0.71429rem !important;
  margin-bottom: 0.71429rem !important; }

.m-a-2 {
  margin: 1.42857rem !important; }

.m-t-2 {
  margin-top: 1.42857rem !important; }

.m-b-2 {
  margin-bottom: 1.42857rem !important; }

.m-r-2 {
  margin-right: 1.42857rem !important; }

.m-l-2 {
  margin-left: 1.42857rem !important; }

.m-x-2 {
  margin-right: 1.42857rem !important;
  margin-left: 1.42857rem !important; }

.m-y-2 {
  margin-top: 1.42857rem !important;
  margin-bottom: 1.42857rem !important; }

.m-a-3 {
  margin: 2.14286rem !important; }

.m-t-3 {
  margin-top: 2.14286rem !important; }

.m-b-3 {
  margin-bottom: 2.14286rem !important; }

.m-r-3 {
  margin-right: 2.14286rem !important; }

.m-l-3 {
  margin-left: 2.14286rem !important; }

.m-x-3 {
  margin-right: 2.14286rem !important;
  margin-left: 2.14286rem !important; }

.m-y-3 {
  margin-top: 2.14286rem !important;
  margin-bottom: 2.14286rem !important; }

.m-a-4 {
  margin: 2.85714rem !important; }

.m-t-4 {
  margin-top: 2.85714rem !important; }

.m-b-4 {
  margin-bottom: 2.85714rem !important; }

.m-r-4 {
  margin-right: 2.85714rem !important; }

.m-l-4 {
  margin-left: 2.85714rem !important; }

.m-x-4 {
  margin-right: 2.85714rem !important;
  margin-left: 2.85714rem !important; }

.m-y-4 {
  margin-top: 2.85714rem !important;
  margin-bottom: 2.85714rem !important; }

.m-a-5 {
  margin: 3.57143rem !important; }

.m-t-5 {
  margin-top: 3.57143rem !important; }

.m-b-5 {
  margin-bottom: 3.57143rem !important; }

.m-r-5 {
  margin-right: 3.57143rem !important; }

.m-l-5 {
  margin-left: 3.57143rem !important; }

.m-x-5 {
  margin-right: 3.57143rem !important;
  margin-left: 3.57143rem !important; }

.m-y-5 {
  margin-top: 3.57143rem !important;
  margin-bottom: 3.57143rem !important; }

.pos-top-10 {
  top: 0.71428571428rem;
  /*equal to 10px*/ }

.pos-top-none {
  top: 0; }

/*sass file _utilities*/
.display-inl-blk {
  display: inline-block !important; }
.display-blk {
  display: block; }

.line-height-50 {
  line-height: 3.57142857143rem;
  /*equal to 50px*/ }

.line-height-70 {
  line-height: 5rem;
  /*equal to 70px*/ }

/*border control*/
.border-none {
  border: none; }

/*5 column deff*/
.col-xs-odd {
  position: relative;
  min-height: 1px;
  padding: 0px; }

.col-sm-odd,
.col-md-odd,
.col-lg-odd {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

/*media control*/
/*five column control*/
@media (max-width: 768px) {
  .col-xs-odd {
    width: 20%;
    float: left; }

  .requests > .list > div > div > ul > li > div:nth-child(2) > span {
    margin-top: -1%; }

  .requests > .list > div > div > ul > li > div:last-child > span {
    line-height: 2rem;
    /*equal to 28px*/ } }
@media (min-width: 768px) {
  .col-sm-odd {
    width: 20%;
    float: left; }

  .requests > .list > div > div > ul > li > div:nth-child(2) > span {
    margin-top: -1%; }

  .requests > .list > div > div > ul > li > div:last-child > span {
    line-height: 2rem;
    /*equal to 28px*/ }

  .search-catalog form {
    margin: 0 auto;
    width: 75%; }

  .nav-box {
    margin: 0 auto;
    padding: 2.85714285714rem 1.429rem 2.85714285714rem 1.429rem;
    width: 9.28571428571rem;
    /*equal to 130px*/
    height: 17.1428571429rem;
    /*equal to 240px*/ } }
@media (min-width: 992px) {
  .col-md-odd {
    width: 20%;
    float: left; }

  .requests > .list > div > div > ul > li > div:nth-child(2) > span {
    margin-top: 2%; }

  .requests > .list > div > div > ul > li > div:last-child > span {
    line-height: 3rem;
    /*equal to 36px*/ }

  .search-catalog form {
    margin: 0 auto;
    width: 60%; }

  .nav-box {
    margin: 0 auto;
    padding: 2.85714285714rem 1.786rem 2.85714285714rem 1.786rem;
    width: 11.4285714286rem;
    /*equal to 160px*/
    height: 17.1428571429rem;
    /*equal to 240px*/ } }
@media (min-width: 1200px) {
  .col-lg-odd {
    width: 20%;
    float: left; }

  .requests > .list > div > div > ul > li > div:nth-child(2) > span {
    margin-top: 3%; }

  .requests > .list > div > div > ul > li > div:last-child > span {
    line-height: 4rem;
    /*equal to 48px*/ }

  .search-catalog form {
    margin: 0 auto;
    width: 50%; }

  .nav-box {
    margin: 0 auto;
    padding: 2.85714285714rem 1.786rem 2.85714285714rem 1.786rem;
    width: 11.4285714286rem;
    /*equal to 160px*/
    height: 17.1428571429rem;
    /*equal to 240px*/ } }

/*# sourceMappingURL=master.css.map */
