/*
Error: Invalid CSS after "// Utility classes": expected selector or at-rule, was "@import "utilit..."
        on line 27 of C:\Users\chad.rehm\Documents\GitHub\kinetic-kore\kinetic-core-web\src\main\webapp\app\bundles\internal\triangle\scss\master.scss

22: @import "navbar";
23: @import "panels";
24: @import "alert"
25: 
26: // Utility classes
27: @import "utilities-spacing";
28: @import "utilities";
29: 
30: // Delete when moved over
31: @import "common";

Backtrace:
C:\Users\chad.rehm\Documents\GitHub\kinetic-kore\kinetic-core-web\src\main\webapp\app\bundles\internal\triangle\scss\master.scss:27
C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1162:in `expected'
C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1098:in `expected'
C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:43:in `parse'
C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:403:in `_to_tree'
C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:410:in `run'
C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/base.rb:52:in `parse'
C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/base.rb:19:in `parse!'
C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.18/bin/sass:13:in `<top (required)>'
C:/tools/ruby21/bin/sass:23:in `load'
C:/tools/ruby21/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"// Utility classes\": expected selector or at-rule, was \"@import \"utilit...\"\A         on line 27 of C:\Users\chad.rehm\Documents\GitHub\kinetic-kore\kinetic-core-web\src\main\webapp\app\bundles\internal\triangle\scss\master.scss\A \A 22: @import \"navbar\";\A 23: @import \"panels\";\A 24: @import \"alert\"\A 25: \A 26: // Utility classes\A 27: @import \"utilities-spacing\";\A 28: @import \"utilities\";\A 29: \A 30: // Delete when moved over\A 31: @import \"common\";"; }
