.p-a-0, #tealnav ul {
  padding: 0rem !important; }

.p-t-0 {
  padding-top: 0rem !important; }

.p-b-0 {
  padding-bottom: 0rem !important; }

.p-r-0 {
  padding-right: 0rem !important; }

.p-l-0 {
  padding-left: 0rem !important; }

.p-x-0 {
  padding-right: 0rem !important;
  padding-left: 0rem !important; }

.p-y-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important; }

.p-a-1 {
  padding: 0.71429rem !important; }

.p-t-1 {
  padding-top: 0.71429rem !important; }

.p-b-1 {
  padding-bottom: 0.71429rem !important; }

.p-r-1 {
  padding-right: 0.71429rem !important; }

.p-l-1 {
  padding-left: 0.71429rem !important; }

.p-x-1 {
  padding-right: 0.71429rem !important;
  padding-left: 0.71429rem !important; }

.p-y-1, #tealnav li {
  padding-top: 0.71429rem !important;
  padding-bottom: 0.71429rem !important; }

.p-a-2 {
  padding: 1.42857rem !important; }

.p-t-2 {
  padding-top: 1.42857rem !important; }

.p-b-2 {
  padding-bottom: 1.42857rem !important; }

.p-r-2 {
  padding-right: 1.42857rem !important; }

.p-l-2 {
  padding-left: 1.42857rem !important; }

.p-x-2 {
  padding-right: 1.42857rem !important;
  padding-left: 1.42857rem !important; }

.p-y-2 {
  padding-top: 1.42857rem !important;
  padding-bottom: 1.42857rem !important; }

.p-a-3 {
  padding: 2.14286rem !important; }

.p-t-3 {
  padding-top: 2.14286rem !important; }

.p-b-3 {
  padding-bottom: 2.14286rem !important; }

.p-r-3 {
  padding-right: 2.14286rem !important; }

.p-l-3 {
  padding-left: 2.14286rem !important; }

.p-x-3 {
  padding-right: 2.14286rem !important;
  padding-left: 2.14286rem !important; }

.p-y-3 {
  padding-top: 2.14286rem !important;
  padding-bottom: 2.14286rem !important; }

.p-a-4 {
  padding: 2.85714rem !important; }

.p-t-4 {
  padding-top: 2.85714rem !important; }

.p-b-4 {
  padding-bottom: 2.85714rem !important; }

.p-r-4 {
  padding-right: 2.85714rem !important; }

.p-l-4 {
  padding-left: 2.85714rem !important; }

.p-x-4 {
  padding-right: 2.85714rem !important;
  padding-left: 2.85714rem !important; }

.p-y-4 {
  padding-top: 2.85714rem !important;
  padding-bottom: 2.85714rem !important; }

.p-a-5 {
  padding: 3.57143rem !important; }

.p-t-5 {
  padding-top: 3.57143rem !important; }

.p-b-5 {
  padding-bottom: 3.57143rem !important; }

.p-r-5 {
  padding-right: 3.57143rem !important; }

.p-l-5 {
  padding-left: 3.57143rem !important; }

.p-x-5 {
  padding-right: 3.57143rem !important;
  padding-left: 3.57143rem !important; }

.p-y-5 {
  padding-top: 3.57143rem !important;
  padding-bottom: 3.57143rem !important; }

.m-a-0, #tealnav ul {
  margin: 0rem !important; }

.m-t-0 {
  margin-top: 0rem !important; }

.m-b-0 {
  margin-bottom: 0rem !important; }

.m-r-0 {
  margin-right: 0rem !important; }

.m-l-0 {
  margin-left: 0rem !important; }

.m-x-0 {
  margin-right: 0rem !important;
  margin-left: 0rem !important; }

.m-y-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important; }

.m-a-1 {
  margin: 0.71429rem !important; }

.m-t-1 {
  margin-top: 0.71429rem !important; }

.m-b-1 {
  margin-bottom: 0.71429rem !important; }

.m-r-1 {
  margin-right: 0.71429rem !important; }

.m-l-1 {
  margin-left: 0.71429rem !important; }

.m-x-1 {
  margin-right: 0.71429rem !important;
  margin-left: 0.71429rem !important; }

.m-y-1 {
  margin-top: 0.71429rem !important;
  margin-bottom: 0.71429rem !important; }

.m-a-2 {
  margin: 1.42857rem !important; }

.m-t-2 {
  margin-top: 1.42857rem !important; }

.m-b-2 {
  margin-bottom: 1.42857rem !important; }

.m-r-2 {
  margin-right: 1.42857rem !important; }

.m-l-2, #tealnav li {
  margin-left: 1.42857rem !important; }

.m-x-2 {
  margin-right: 1.42857rem !important;
  margin-left: 1.42857rem !important; }

.m-y-2 {
  margin-top: 1.42857rem !important;
  margin-bottom: 1.42857rem !important; }

.m-a-3 {
  margin: 2.14286rem !important; }

.m-t-3 {
  margin-top: 2.14286rem !important; }

.m-b-3 {
  margin-bottom: 2.14286rem !important; }

.m-r-3 {
  margin-right: 2.14286rem !important; }

.m-l-3 {
  margin-left: 2.14286rem !important; }

.m-x-3 {
  margin-right: 2.14286rem !important;
  margin-left: 2.14286rem !important; }

.m-y-3 {
  margin-top: 2.14286rem !important;
  margin-bottom: 2.14286rem !important; }

.m-a-4 {
  margin: 2.85714rem !important; }

.m-t-4 {
  margin-top: 2.85714rem !important; }

.m-b-4 {
  margin-bottom: 2.85714rem !important; }

.m-r-4 {
  margin-right: 2.85714rem !important; }

.m-l-4 {
  margin-left: 2.85714rem !important; }

.m-x-4 {
  margin-right: 2.85714rem !important;
  margin-left: 2.85714rem !important; }

.m-y-4 {
  margin-top: 2.85714rem !important;
  margin-bottom: 2.85714rem !important; }

.m-a-5 {
  margin: 3.57143rem !important; }

.m-t-5 {
  margin-top: 3.57143rem !important; }

.m-b-5 {
  margin-bottom: 3.57143rem !important; }

.m-r-5 {
  margin-right: 3.57143rem !important; }

.m-l-5 {
  margin-left: 3.57143rem !important; }

.m-x-5 {
  margin-right: 3.57143rem !important;
  margin-left: 3.57143rem !important; }

.m-y-5 {
  margin-top: 3.57143rem !important;
  margin-bottom: 3.57143rem !important; }

.all-services {
  font-size: .5em;
  font-weight: normal;
  color: #ccc;
  margin-left: 1em; }

.feed-content {
  border: 1px solid black;
  padding: 15px; }

.errors {
  background-color: #faf0ef;
  border: 1px solid #d5d5d5;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%; }
  .errors p {
    font-style: bold;
    font-size: larger;
    background-color: #cc0000;
    border-bottom: 1px solid #d5d5d5;
    padding-left: .5em;
    padding-right: .5em;
    color: white;
    padding: 3px; }
    .errors p.testing {
      color: green;
      background: red; }

h3.uncategorized {
  color: #CCCCCC; }

section.configbar {
  margin-top: 1em; }

section.configbar li.active {
  font-weight: bold; }

/*everything above came with bundle*/
html {
  font-size: 14px; }

body {
  background-color: #f5f5f5; }

h1 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  /*equal to 42px*/
  color: #242e38; }

h3 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  /*equal to 24px*/ }

h4 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.28571428571rem;
  /*equal to 18px*/ }

p {
  font-size: 1.14285714286em;
  /*equal to 16px*/
  margin: 0; }

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .857142857rem;
  /*equal to 12px*/ }

i {
  color: white; }

a {
  color: #3babc0; }

ul {
  padding: 0; }

/*custom padding,position and margin control*/
.pos-top-10 {
  top: 0.71428571428rem;
  /*equal to 10px*/ }

.pos-top-none {
  top: 0; }

.line-height-50 {
  line-height: 3.57142857143rem;
  /*equal to 50px*/ }

.line-height-70 {
  line-height: 5rem;
  /*equal to 70px*/ }

.display-inl-blk {
  display: inline-block !important; }

.display-blk {
  display: block; }

/*border control*/
.border-none {
  border: none; }

/*color control*/
.background-tertiary {
  background-color: #242e38 !important; }

.background-quaternary {
  background-color: #d6ce61 !important; }

.background-white {
  background-color: #fff !important; }

.white {
  color: #fff !important; }

.gray {
  color: #818181 !important; }

/*font contorl*/
.font-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

.font-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.font-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

.font-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.font-size-50 {
  font-size: 3.57142857143rem;
  /*equal to 50px*/ }

.header {
  /* background: url("../images/background.png");*/
  min-height: 7.5rem;
  position: relative; }

.footer {
  /* background: url("../images/background.png");*/
  height: 20rem;
  position: relative;
  border: none !important; }

.overlay {
  width: 100%;
  background-color: rgba(5, 12, 19, 0.75);
  filter: alpha(opacity=75);
  /* For IE8 and earlier */ }

.header .overlay {
  border: none;
  border-radius: 0;
  position: relative;
  min-height: 5rem;
  /*equal to 70px*/
  margin-top: 2.5rem; }

.footer .overlay {
  position: absolute;
  bottom: 0px;
  height: 17.5rem;
  /*equal to 245px*/ }

/*get better class names for navbar-collapse*/
#navbar-collapse > ul > li:nth-child(1) > a {
  padding: 0.71428571428rem 1rem 0.71428571428rem 1rem; }

body > div > header > nav > div > div > ul > li > a > i {
  color: black; }

.avatar > img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

.navAccount a {
  color: #d6ce61; }

.fa-circle {
  color: #242e38; }

.footer .overlay > div > div > div > div:first-child {
  padding-top: 2.5rem;
  /*equal to 35px*/ }

.footer .overlay > div > div > div:first-child > div:first-child {
  border-bottom: 0.35714285714rem solid #d6ce61; }

.footer .overlay > div > div > div:not(:first-child) > div:first-child {
  border-bottom: 0.35714285714rem solid #5ea5b2; }

.footer .overlay > div > div > div:not(:first-child) > div {
  margin-left: 2.14285714286rem;
  /*equal to 30px*/ }

.footer .overlay > div > div > div:not(:first-child) > div > h5 {
  margin-bottom: 0; }

/*5 column deff*/
.col-xs-odd {
  position: relative;
  min-height: 1px;
  padding: 0px; }

.col-sm-odd,
.col-md-odd,
.col-lg-odd {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

/*media control*/
/*five column control*/
@media (max-width: 768px) {
  .col-xs-odd {
    width: 20%;
    float: left; }

  .requests > .list > div > div > ul > li > div:nth-child(2) > span {
    margin-top: -1%; }

  .requests > .list > div > div > ul > li > div:last-child > span {
    line-height: 2rem;
    /*equal to 28px*/ } }
@media (min-width: 768px) {
  .col-sm-odd {
    width: 20%;
    float: left; }

  .requests > .list > div > div > ul > li > div:nth-child(2) > span {
    margin-top: -1%; }

  .requests > .list > div > div > ul > li > div:last-child > span {
    line-height: 2rem;
    /*equal to 28px*/ }

  .search-catalog form {
    margin: 0 auto;
    width: 75%; }

  .box {
    margin: 0 auto;
    padding: 2.85714285714rem 1.429rem 2.85714285714rem 1.429rem;
    width: 9.28571428571rem;
    /*equal to 130px*/
    height: 17.1428571429rem;
    /*equal to 240px*/ } }
@media (min-width: 992px) {
  .col-md-odd {
    width: 20%;
    float: left; }

  .requests > .list > div > div > ul > li > div:nth-child(2) > span {
    margin-top: 2%; }

  .requests > .list > div > div > ul > li > div:last-child > span {
    line-height: 3rem;
    /*equal to 36px*/ }

  .search-catalog form {
    margin: 0 auto;
    width: 60%; }

  .box {
    margin: 0 auto;
    padding: 2.85714285714rem 1.786rem 2.85714285714rem 1.786rem;
    width: 11.4285714286rem;
    /*equal to 160px*/
    height: 17.1428571429rem;
    /*equal to 240px*/ } }
@media (min-width: 1200px) {
  .col-lg-odd {
    width: 20%;
    float: left; }

  .requests > .list > div > div > ul > li > div:nth-child(2) > span {
    margin-top: 3%; }

  .requests > .list > div > div > ul > li > div:last-child > span {
    line-height: 4rem;
    /*equal to 48px*/ }

  .search-catalog form {
    margin: 0 auto;
    width: 50%; }

  .box {
    margin: 0 auto;
    padding: 2.85714285714rem 1.786rem 2.85714285714rem 1.786rem;
    width: 11.4285714286rem;
    /*equal to 160px*/
    height: 17.1428571429rem;
    /*equal to 240px*/ } }
#tealnav {
  background-color: #5ea5b2; }

#tealnav ul {
  /*    display: -moz-box;
      display: -webkit-box;
      display: box;*/
  text-align: left;
  list-style-type: none; }

#tealnav li {
  /*    -moz-box-flex: 1;
      -webkit-box-flex: 1;
      box-flex: 1;*/
  display: inline-block; }

#tealnav li a {
  font-size: 1.125rem; }

/*panel control*/
.panel {
  /*common*/
  border: none; }

.panel-body {
  /*common*/
  box-shadow: 1px 4px 10px #eaeaea; }

.panel-body > table > thead > tr > td:nth-child(2) {
  /*catalog could be replaced with more general catalog*/
  text-align: right; }

.panel-body > table > tbody > tr:nth-child(even) > td:nth-child(1) {
  /*catalog could be replaced with more general catalog*/
  border: none; }

.panel-body > table > tbody > tr > td:nth-child(2) {
  vertical-align: bottom; }

.btn-primary {
  background-color: #5ea5b2; }

.btn-primary:hover {
  background-color: rgba(94, 165, 178, 0.5); }

/*# sourceMappingURL=master.css.map */
