/*sass file _forms*/
/*form{
    margin-left: 0;
    padding: 26px 24px 46px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}*/
form button{
    background-color: #24B166;
    color:#fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-right: 1em;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
form label{
    color: #62787d;
    display: block;
    font-size: 1em;
    font-weight: 600;
}
form .radio label:first-child,
form .checkbox label:first-child{
    padding-left: 0;
    font-weight: 600;
}
form .checkbox label + input{
    padding-left: 20px;
}
form input[type="text"],
form textarea{
    border:2px solid #B3C1C4;
    outline: none;
}
form input[type="text"]:focus,
form textarea:focus{
    border-color: #7FCEE0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Override Form Styles
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.requests form > div > i{
    top: 0 !important;
    right: 5px !important;
    color: #c7c7c7;
}

input.form-control{
    width: 20rem !important;
}
select.form-control{
    width: 20rem !important;
}

textarea.form-control{
    width: 40rem !important;
}
input.x{
    width: 100% !important;
}