/*sass file _icons*/
#list:active,
#list.active,
#grid:active,
#grid.active{
   text-shadow: 0px 0px 5px rgba($black,.4);
} 

.search-catalog-icon{
    top: 10px !important;
    color: #c7c7c7;
}

$color-names: black white gray gray-lighter primary secondary tertiary;
$colors: $black $white $gray $gray-lighter $primary $secondary $tertiary;
$block: icon;

.#{$block}{
    @each $color in $colors{
        $i: index($colors, $color);
        @at-root #{&}-#{nth($color-names,$i)}{
           color: $color;
        }
    }
    @at-root #{&}__pad--y{
        padding-top: 1.07142857143rem;
        padding-bottom: 0.92857142857rem;
    }
}
