.input-group{
    button{
        background-color: $primary-lighter;
        @at-root &:hover{
            backgroud-color: $primary-darker;
        }
    }
    i{
         color: $gray-darkest;
    }
}

input{
    border: 1px solid $gray-lighter !important;
}