/*sass file _lists*/
.right-details{
    @at-root #{&}{
        padding-left: .9rem;
    }
    @at-root #{&} > ul{
        list-style: none;
    }
    @at-root #{&} > ul > li{
        margin-left: 2.25rem !important;
    }
    @at-root #{&} > ul > li:before{
        color: #5ea5b2;
        content: '\f111';
        font-family: 'FontAwesome';
        position: absolute;
        left: -5rem;
        top: 4.25rem;
    }
    @at-root #{&} > ul > li > h4:nth-child(2){
        color: #818181;
    }
    @at-root #{&} > ul > li > div > p{
        color: #818181;
        margin-top: 1.25rem;
    }
}







