// Padding
// -----------------------------------------------------------------------------
@for $incrementer from 0 through $padding-count{
    .p-a-#{$incrementer}{
        padding: $incrementer * $padding-increment !important;
    }
    .p-t-#{$incrementer}{
        padding-top: $incrementer * $padding-increment !important;
    }
    .p-b-#{$incrementer}{
        padding-bottom: $incrementer * $padding-increment !important;
    }
    .p-r-#{$incrementer}{
        padding-right: $incrementer * $padding-increment !important;
    }
    .p-l-#{$incrementer}{
        padding-left: $incrementer * $padding-increment !important;
    }
    .p-x-#{$incrementer}{
        padding-right: $incrementer * $padding-increment !important;
        padding-left: $incrementer * $padding-increment !important;
    }
    .p-y-#{$incrementer}{
        padding-top: $incrementer * $padding-increment !important;
        padding-bottom: $incrementer * $padding-increment !important;
    }
}

// Margin
// -----------------------------------------------------------------------------
@for $incrementer from 0 through $margin-count{
    .m-a-#{$incrementer}{
        margin: $incrementer * $margin-increment !important;
    };
    .m-t-#{$incrementer}{
        margin-top: $incrementer * $margin-increment !important;
    }
    .m-b-#{$incrementer}{
        margin-bottom: $incrementer * $margin-increment !important;
    }
    .m-r-#{$incrementer}{
        margin-right: $incrementer * $margin-increment !important;
    }
    .m-l-#{$incrementer}{
        margin-left:  $incrementer * $margin-increment !important;
    }
    .m-x-#{$incrementer}{
        margin-right:  $incrementer * $margin-increment !important;
        margin-left:  $incrementer * $margin-increment !important;
    }
    .m-y-#{$incrementer}{
        margin-top: $incrementer * $margin-increment !important;
        margin-bottom: $incrementer * $margin-increment !important;
    }
}

// Position (make loop with variable)
// -----------------------------------------------------------------------------
.pos-top-10{
    top: 0.71428571428rem; /*equal to 10px*/
}

.pos-top-none{
    top: 0;
}
