/*sass file _header*/

.header{
    background: url("../images/parallelogram-background.jpg");
    min-height: 7.5rem; 
    position: relative;
}
.header__overlay{
    background-color: $overlay-color;
    filter: alpha(opacity=75); /* For IE8 and earlier */
    border: none;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 5rem; /*equal to 70px*/
    margin-top: 2.5rem;
}

.header__image{
    height: 5rem;
}