/*sass file _lists*/
.right-details{
    padding-left: .9rem;
}
.right-details > ul{
    list-style: none;
}
.right-details > ul > li{
    margin-left: 2.25rem !important;
}
.right-details > ul > li:before{
    color: #5ea5b2;
    content: '\f111';
    font-family: 'FontAwesome';
    position: absolute;
    left: -5rem;
    top: 4.25rem;
}
.right-details > ul > li > h4:nth-child(2){
    color: #818181;
}
.right-details > ul > li > div > p{
    color: #818181;
    margin-top: 1.25rem;
}







