/*sass file _nav*/
.nav{
    background-color: $primary;
    .nav__list{
        text-align: center;
    }
    ul{
/*      display: -moz-box;
        display: -webkit-box;
        display: box;*/
        padding: none;
        margin: none;
        text-align: left;
        list-style-type: none;
}
    li{
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1;
        display: inline-block;
        padding: .71428571428rem;
        text-align: center;
        
}
    a{
        font-size: 1.125rem;
        color: $white;
}
}
.nav__text{
    font-size: 1.5rem;
    height: 2rem;
}
.nav__box{
    padding-top: 1.42857142857rem;
    padding-bottom: 1.42857142857rem;
    font-size: 1.429rem; /*equal to 20px*/
    color: $white;
    @at-root &:hover{
    background-color: lighten($primary, 10%) 
    }
}

