/*scss file _reboot*/
html,body{
    height: 100%;
    font-size: 14px;
}

body{
    background-color: $bg-color;
}

h1 {
    margin: 0;
    @extend .font-medium;
    font-size:  3rem; /*equal to 42px*/
    color:  #242e38;
}

h3{
    margin: 0;
    @extend .font-medium;
    font-size: 2rem; /*equal to 24px*/
}

h4{
    margin: 0;
    @extend .font-medium;
    font-size: 1.28571428571rem; /*equal to 18px*/
}

p{
    font-size: 1.14285714286em; /*equal to 16px*/
    margin: 0;
}

h5{
    @extend .font-light;
    font-size:  .857142857rem; /*equal to 12px*/
}

i{
    color: $white;
}

a {
    color: $primary-light;
    @at-root &:hover{
        color: $primary-dark;
    }
}
ul{
    padding: 0;
    margin: 0;
}
