.all-services {
    font-size: .5em;
    font-weight: normal;
    color: #ccc;
    margin-left: 1em;
}
/*.panel {
    width: 23%;
    float: left;
    text-align: center;
    margin-right: .5em;
    border: 1px solid #e8e8e8;
}
.panel .fa {
    width: 100%;    // for clickability
    height: 100%;   // for clickability
    color: #428BCA;
    font-size: 3em;
}
.panel-body {
    padding: 7px;
}
.panel-footer {
    font-size:.7em;
    color: #428BCA;
    text-transform: uppercase;
}*/
.feed-content {
    border: 1px solid black;
    padding: 15px;
}
.errors {
    background-color: #faf0ef;
    border: 1px solid #d5d5d5;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
}
.errors p {
    font-style: bold;
    font-size: larger;
    background-color: #cc0000;
    border-bottom: 1px solid #d5d5d5;
    padding-left: .5em;
    padding-right: .5em;
    color: white;
    padding: 3px;
}

h3.uncategorized{
  color: #CCCCCC;
}

section.configbar{
  margin-top:1em;
}

section.configbar li.active{
  font-weight:bold;
}



html{
    font-size: 14px
}

body{
    background-color: #f5f5f5;
}

h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:  3rem; /*equal to 42px*/
    color:  #242e38;
}

h3{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem; /*equal to 24px*/
}

h4{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.28571428571rem; /*equal to 18px*/
}

p{
    font-size: 1.14285714286em; /*equal to 16px*/
    margin: 0;
}

h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:  .857142857rem; /*equal to 12px*/
}

i{
    color: white;
}

a {
    color:#3babc0;
}
ul{
    padding: 0;
}
/*custom padding and margin control*/
.pad-bot-40{
    padding-bottom: 2.85714285714rem; /*equal to 40px*/
}

.pad-top-40{
    padding-top: 2.85714285714rem; /*equal to 40px*/
}

.pad-bot-10{
    padding-bottom: 0.71428571428rem; /*equal to 10px*/
}

.pad-top-10{
    padding: 0.71428571428rem 0 0 0; /*equal to 10px*/
}

.mgn-bot-40{
    margin-bottom: 2.85714285714rem; /*equal to 40px*/
}

.mgn-top-40{
    margin-top: 2.85714285714rem; /*equal to 40px*/
}

.mgn-none{
    margin: 0;
}

.pad-none{
    padding: 0;
}

/*color control*/
.background-tertiary{
    background-color: #242e38 !important;
}

.background-quaternary{
    background-color: #d6ce61 !important;
}

.background-white{
    background-color: #fff;
}

#logo{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 3.3rem;
    font-size: 3.57142857143rem; /*equal to 50px*/
    color: #fff;
}

.header{
   /* background: url("../images/background.png");*/
    min-height: 7.5rem; 
    position: relative;
}

.footer{
   /* background: url("../images/background.png");*/
    height: 20rem; 
    position: relative;
    border: none !important;
}

.overlay{
    width: 100%;
    background-color: rgba(5, 12, 19, 0.75);
    filter: alpha(opacity=75); /* For IE8 and earlier */
}

.header .overlay{
    border: none;
    border-radius: 0;
    position: relative;
    min-height: 5rem; /*equal to 70px*/
    top: 2.5rem;
}

.footer .overlay{
    position: absolute;
    bottom: 0px;
    height: 17.5rem; /*equal to 245px*/
}

#navbar-collapse > ul > li.dropdown > a{
    color: black!important;
    padding-right: 0 !important;
}

#navbar-collapse > ul > li:nth-child(1) > a{
    padding: 0.71428571428rem 1rem 0.71428571428rem 1rem;
}

#navbar-collapse > ul > li > ul > li > a > i{
    color: black;
}

.search-catalog form > div > i{
    top: 10px !important;
    color: #c7c7c7;
}

.requests form > div > i{
    top: 0 !important;
    right: 5px !important;
    color: #c7c7c7;
}

.avatar > img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.navName{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    margin-top: 1rem; /*equal to 14px*/
    margin-bottom: 0px;
}

.navAccount a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #d6ce61;
}

.identity-block{
    padding-top: 0.71428571428rem; /*equal to 10px*/
}

/*teal nav bar control*/
.box:hover{
    background: #86bcc5;
}

.box div{
    color: #fff;
}

.box div{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
    font-size: 1.429rem; /*equal to 20px*/
    text-align: center;
    font-color: #fff;
}

.fa-circle{
    color: #242e38;
}

#tealnav{
    background-color: #5ea5b2;
}

#tealnav a{
    color: #fff;
}

#tealnav ul {
/*    display: -moz-box;
    display: -webkit-box;
    display: box;*/
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
}

#tealnav li {
/*    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;*/
    display: inline-block;
    margin-left: 4.28571428571rem;  /* equal to 60px */
    padding: 0.71428571428rem 0 0.71428571428rem 0;
}

#tealnav li a{
    font-size: 1.125rem;
}

/*panel control*/
.rightside .panel-heading{
    
}

.panel{
    border: none;
}

.panel-body{
    box-shadow: 1px 4px 10px #eaeaea;
}

.panel-title h4{
    color: #fff; 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.panel-body > table > thead > tr > td{
    padding-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#818181;
}

.panel-body > table > thead > tr > td:nth-child(2){
    text-align: right;
}

.panel-body > table > tbody > tr > td{
    background-color: #fff !important;
}

.panel-body > table > tbody > tr:nth-child(odd) > td:nth-child(1){
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-bottom: 0;
}

.panel-body > table > tbody > tr:nth-child(even) > td:nth-child(1){
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 0;
    border: none;
}

.panel-body > table > tbody > tr > td:nth-child(2){
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#818181;
    text-align: right;
    vertical-align: bottom;
}

.panel-body > table > tfoot > tr > td{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.panel-body > p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.panel-body > div{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#818181;
}

.requests > .list > div > div > ul > li{
    display: flex;
}

.requests > .list > div > div > ul > li:not(:last-child){
    border-bottom: 2px solid black; 
}

.requests > .list > div > div > ul > li{
    padding: 1rem 0 1rem 0;
}

.requests > div > div > div > div > h4{
    line-height: 2rem; /*equal to 28px*/
    color: #818181;
}

.requests > div > div > div > div > i{
    color: #818181;
}
.requests .btn-primary{
    background-color: #5ea5b2;
}

.requests > .list > div > div > ul > li > div > span{
    text-align: left;
}

.requests > div > div > div > div{
    line-height: 2.42857142857rem; /* equal to 34px */
}

.footer .overlay> div > div > div > div{
    color: #fff;
}

.footer .overlay > div > div > div > div:first-child{
    padding-top: 2.5rem; /*equal to 35px*/
}

.footer > .overlay > div > div > div > div:first-child > h4{
    margin-bottom: .75rem;
}

.footer > .overlay > div > div > div:first-child > div:last-child > h4{
    margin-top: .75rem;
}

.footer .overlay> div > div > div:first-child > div:first-child{
    border-bottom: 0.35714285714rem solid #d6ce61;
}

.footer .overlay > div > div > div:not(:first-child) > div:first-child{
    border-bottom: 0.35714285714rem solid #5ea5b2;
}

.footer .overlay > div > div > div:not(:first-child) > div{
    margin-left: 2.14285714286rem; /*equal to 30px*/
}

.footer .overlay > div > div > div:not(:first-child) > div > h5{
    margin-bottom: 0;
}

/*5 column deff*/
.col-xs-odd{
    position: relative;
    min-height: 1px;
    padding: 0px;
}
.col-sm-odd,
.col-md-odd,
.col-lg-odd {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/*media control*/
/*five column control*/
@media (max-width: 768px){
    .col-xs-odd {
        width: 20%;
        float: left;
    }

    .requests > .list > div > div > ul > li > div:nth-child(2) > span{
        margin-top: -1%
    }

    .requests > .list > div > div > ul > li > div:last-child > span{
        line-height: 2rem; /*equal to 28px*/
    }
}

@media (min-width: 768px) {
    .col-sm-odd {
        width: 20%;
        float: left;
    }
    
    .requests > .list > div > div > ul > li > div:nth-child(2) > span{
        margin-top: -1%
    }

    .requests > .list > div > div > ul > li > div:last-child > span{
        line-height: 2rem; /*equal to 28px*/
    }
    .search-catalog form{
        margin: 0 auto;
        width: 75%; 
    }
    .box{
        margin: 0 auto;
        padding: 2.85714285714rem 1.429rem 2.85714285714rem 1.429rem;
        width: 9.28571428571rem; /*equal to 130px*/
        height: 17.1428571429rem; /*equal to 240px*/
    }
}
@media (min-width: 992px) {
    .col-md-odd {
        width: 20%;
        float: left;
    }

    .requests > .list > div > div > ul > li > div:nth-child(2) > span{
        margin-top: 2%
    }

    .requests > .list > div > div > ul > li > div:last-child > span{
        line-height: 3rem; /*equal to 36px*/
    }
    .search-catalog form{
        margin: 0 auto;
        width: 60%; 
    }
    .box{
        margin: 0 auto;
        padding: 2.85714285714rem 1.786rem 2.85714285714rem 1.786rem;
        width: 11.4285714286rem; /*equal to 160px*/
        height: 17.1428571429rem; /*equal to 240px*/
    }
}
@media (min-width: 1200px) {
    .col-lg-odd {
        width: 20%;
        float: left;
    }

    .requests > .list > div > div > ul > li > div:nth-child(2) > span{
        margin-top: 3%
    }

    .requests > .list > div > div > ul > li > div:last-child > span{
        line-height: 4rem; /*equal to 48px*/
    }
    .search-catalog form{
        margin: 0 auto;
        width: 50%; 
    }
    .box{
        margin: 0 auto;
        padding: 2.85714285714rem 1.786rem 2.85714285714rem 1.786rem;
        width: 11.4285714286rem; /*equal to 160px*/
        height: 17.1428571429rem; /*equal to 240px*/
    }
}