.all-services {
    font-size: .5em;
    font-weight: normal;
    color: #ccc;
    margin-left: 1em;
}
/*.panel {
    width: 23%;
    float: left;
    text-align: center;
    margin-right: .5em;
    border: 1px solid #e8e8e8;
}
.panel .fa {
    width: 100%;    // for clickability
    height: 100%;   // for clickability
    color: #428BCA;
    font-size: 3em;
}
.panel-body {
    padding: 7px;
}
.panel-footer {
    font-size:.7em;
    color: #428BCA;
    text-transform: uppercase;
} */
.feed-content {
    border: 1px solid black;
    padding: 15px;
}
.errors {
    background-color: #faf0ef;
    border: 1px solid #d5d5d5;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    p {
    font-style: bold;
    font-size: larger;
    background-color: #cc0000;
    border-bottom: 1px solid #d5d5d5;
    padding-left: .5em;
    padding-right: .5em;
    color: white;
    padding: 3px;
        &.testing{
        color:green;
        background:red;
        }
    }
    
}

h3.uncategorized{
  color: #CCCCCC;
}

section.configbar{
  margin-top:1em;
}

section.configbar li.active{
  font-weight:bold;
}


/*everything above came with bundle*/
html{
    font-size: 14px
}

body{
    background-color: #f5f5f5;
}

h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:  3rem; /*equal to 42px*/
    color:  #242e38;
}

h3{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem; /*equal to 24px*/
}

h4{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.28571428571rem; /*equal to 18px*/
}

p{
    font-size: 1.14285714286em; /*equal to 16px*/
    margin: 0;
}

h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:  .857142857rem; /*equal to 12px*/
}

i{
    color: white;
}

a {
    color:#3babc0;
}
ul{
    padding: 0;
}
/*custom padding,position and margin control*/

// Padding
// -----------------------------------------------------------------------------
@for $incrementer from 0 through $padding-count{
    .p-a-#{$incrementer}{
        padding: $incrementer * $padding-increment !important;
    }
    .p-t-#{$incrementer}{
        padding-top: $incrementer * $padding-increment !important;
    }
    .p-b-#{$incrementer}{
        padding-bottom: $incrementer * $padding-increment !important;
    }
    .p-r-#{$incrementer}{
        padding-right: $incrementer * $padding-increment !important;
    }
    .p-l-#{$incrementer}{
        padding-left: $incrementer * $padding-increment !important;
    }
    .p-x-#{$incrementer}{
        padding-right: $incrementer * $padding-increment !important;
        padding-left: $incrementer * $padding-increment !important;
    }
    .p-y-#{$incrementer}{
        padding-top: $incrementer * $padding-increment !important;
        padding-bottom: $incrementer * $padding-increment !important;
    }
}

// Margin
// -----------------------------------------------------------------------------
@for $incrementer from 0 through $margin-count{
    .m-a-#{$incrementer}{
        margin: $incrementer * $margin-increment !important;
    };
    .m-t-#{$incrementer}{
        margin-top: $incrementer * $margin-increment !important;
    }
    .m-b-#{$incrementer}{
        margin-bottom: $incrementer * $margin-increment !important;
    }
    .m-r-#{$incrementer}{
        margin-right: $incrementer * $margin-increment !important;
    }
    .m-l-#{$incrementer}{
        margin-left:  $incrementer * $margin-increment !important;
    }
    .m-x-#{$incrementer}{
        margin-right:  $incrementer * $margin-increment !important;
        margin-left:  $incrementer * $margin-increment !important;
    }
    .m-y-#{$incrementer}{
        margin-top: $incrementer * $margin-increment !important;
        margin-bottom: $incrementer * $margin-increment !important;
    }
}

.pos-top-10{
    top: 0.71428571428rem; /*equal to 10px*/
}

.pos-top-none{
    top: 0;
}

.line-height-50{
    line-height: 3.57142857143rem; /*equal to 50px*/
}

.line-height-70{
    line-height: 5rem; /*equal to 70px*/
}

.display-inl-blk{
    display: inline-block !important;
}

.display-blk{
    display: block;
}

/*border control*/
.border-none{
    border: none;
}

/*color control*/
.background-tertiary{
    background-color: #242e38 !important;
}

.background-quaternary{
    background-color: #d6ce61 !important;
}

.background-white{
    background-color: #fff !important;
}

.white{
    color: #fff !important;
}

.gray{
    color: #818181 !important;
}

/*font contorl*/
.font-thin{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.font-light{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.font-medium{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.font-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.font-size-50{
   font-size: 3.57142857143rem; /*equal to 50px*/ 
}

.header{
   /* background: url("../images/background.png");*/
    min-height: 7.5rem; 
    position: relative;
}

.footer{
   /* background: url("../images/background.png");*/
    height: 20rem; 
    position: relative;
    border: none !important;
}

.overlay{
    width: 100%;
    background-color: rgba(5, 12, 19, 0.75);
    filter: alpha(opacity=75); /* For IE8 and earlier */
}

.header .overlay{
    border: none;
    border-radius: 0;
    position: relative;
    min-height: 5rem; /*equal to 70px*/
    margin-top: 2.5rem;
}

.footer .overlay{
    position: absolute;
    bottom: 0px;
    height: 17.5rem; /*equal to 245px*/
}

/*get better class names for navbar-collapse*/
#navbar-collapse > ul > li:nth-child(1) > a{
    padding: 0.71428571428rem 1rem 0.71428571428rem 1rem;
}
body > div > header > nav > div > div > ul > li > a > i{
    color: black;
}

.avatar > img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.navAccount a{
    color: #d6ce61;
}

.fa-circle{
    color: #242e38;
}

.footer .overlay > div > div > div > div:first-child{
    padding-top: 2.5rem; /*equal to 35px*/
}

.footer .overlay> div > div > div:first-child > div:first-child{
    border-bottom: 0.35714285714rem solid #d6ce61;
}

.footer .overlay > div > div > div:not(:first-child) > div:first-child{
    border-bottom: 0.35714285714rem solid #5ea5b2;
}

.footer .overlay > div > div > div:not(:first-child) > div{
    margin-left: 2.14285714286rem; /*equal to 30px*/
}

.footer .overlay > div > div > div:not(:first-child) > div > h5{
    margin-bottom: 0;
}

/*5 column deff*/
.col-xs-odd{
    position: relative;
    min-height: 1px;
    padding: 0px;
}
.col-sm-odd,
.col-md-odd,
.col-lg-odd {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/*media control*/
/*five column control*/
@media (max-width: 768px){
    .col-xs-odd {
        width: 20%;
        float: left;
    }

    .requests > .list > div > div > ul > li > div:nth-child(2) > span{
        margin-top: -1%
    }

    .requests > .list > div > div > ul > li > div:last-child > span{
        line-height: 2rem; /*equal to 28px*/
    }
}

@media (min-width: 768px) {
    .col-sm-odd {
        width: 20%;
        float: left;
    }
    
    .requests > .list > div > div > ul > li > div:nth-child(2) > span{
        margin-top: -1%
    }

    .requests > .list > div > div > ul > li > div:last-child > span{
        line-height: 2rem; /*equal to 28px*/
    }
    .search-catalog form{
        margin: 0 auto;
        width: 75%; 
    }
    .box{
        margin: 0 auto;
        padding: 2.85714285714rem 1.429rem 2.85714285714rem 1.429rem;
        width: 9.28571428571rem; /*equal to 130px*/
        height: 17.1428571429rem; /*equal to 240px*/
    }
}
@media (min-width: 992px) {
    .col-md-odd {
        width: 20%;
        float: left;
    }

    .requests > .list > div > div > ul > li > div:nth-child(2) > span{
        margin-top: 2%
    }

    .requests > .list > div > div > ul > li > div:last-child > span{
        line-height: 3rem; /*equal to 36px*/
    }
    .search-catalog form{
        margin: 0 auto;
        width: 60%; 
    }
    .box{
        margin: 0 auto;
        padding: 2.85714285714rem 1.786rem 2.85714285714rem 1.786rem;
        width: 11.4285714286rem; /*equal to 160px*/
        height: 17.1428571429rem; /*equal to 240px*/
    }
}
@media (min-width: 1200px) {
    .col-lg-odd {
        width: 20%;
        float: left;
    }

    .requests > .list > div > div > ul > li > div:nth-child(2) > span{
        margin-top: 3%
    }

    .requests > .list > div > div > ul > li > div:last-child > span{
        line-height: 4rem; /*equal to 48px*/
    }
    .search-catalog form{
        margin: 0 auto;
        width: 50%; 
    }
    .box{
        margin: 0 auto;
        padding: 2.85714285714rem 1.786rem 2.85714285714rem 1.786rem;
        width: 11.4285714286rem; /*equal to 160px*/
        height: 17.1428571429rem; /*equal to 240px*/
    }
}




#tealnav{
    background-color: #5ea5b2;
}

#tealnav ul {
/*    display: -moz-box;
    display: -webkit-box;
    display: box;*/
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
}

#tealnav li {
/*    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;*/
    display: inline-block;
    @extend .m-l-2;
    @extend .p-y-1;
}

#tealnav li a{
    font-size: 1.125rem;
}

/*panel control*/
.panel{ /*common*/
    border: none;
}

.panel-body{ /*common*/
    box-shadow: 1px 4px 10px #eaeaea;
}

.panel-body > table > thead > tr > td:nth-child(2){ /*catalog could be replaced with more general catalog*/
    text-align: right;
}

.panel-body > table > tbody > tr:nth-child(even) > td:nth-child(1){ /*catalog could be replaced with more general catalog*/
    border: none;
}

.panel-body > table > tbody > tr > td:nth-child(2){
    vertical-align: bottom;
}

/*.requests > div > div > div > div > h4{
    line-height: 2rem; equal to 28px
}*/

.btn-primary{
    background-color: #5ea5b2;
}

.btn-primary:hover{
    background-color: rgba(94, 165, 178, .5)
}