
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
}

#leftDetails > h4:nth-child(odd){
	color: #818181;
}

#leftDetails > h4:nth-child(even){
	padding-top: 2rem;
}

#leftDetails{
	padding-right: 3rem;
	background-color: #fff;
	border-right: 1px solid #f5f5f5;
	-webkit-box-shadow: 1px 4px 10px #eaeaea;
    box-shadow: 1px 4px 10px #eaeaea;
}

#leftDetails > p{
	padding: 2rem 0 2rem 0;
}

#rightDetails{
	padding-left: .9rem;
}

#rightDetails > ul{
	list-style: none;
}

#rightDetails > ul > li{
	margin-left: 2.25rem !important;
}

#rightDetails > ul > li:before{
	color: #5ea5b2;
	content: '\f111';
	font-family: 'FontAwesome';
	position: absolute;
	left: -5rem;
	top: 4.25rem;
}

#rightDetails > ul > li > h4:nth-child(2){
	color: #818181;
}

#rightDetails > ul > li > div > p{
	color: #818181;
	margin-top: 1.25rem;
}

.arrow_box {
	position: relative;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 5rem;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(204, 213, 187, 0);
	border-right-color: #fff;
	border-width: 14px;
	margin-top: -40px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-width: 20px;
	margin-top: -46px;
}